<!-- <div class="p=0">
    <img class="w-100" src="../../assets/Img/maharastra2.png">
</div> -->

<!-- <section class="p-o area-section"> -->
<!-- <div class="row">
    <div class="col 12 text-center">
        <img class ="global-down-arrow" src="../../assets/icon/down-arrow.png" alt="down">
    <h6>Lets work together</h6>
<h1>Focus Areas</h1>
</div>
</div> -->
<div class="p=0">
  <div class="image-container w-100">
    <img src="../../assets/Img/maharastra2.png" alt="Background Image" />
    <div class="overlay">
      <h1 class="text1">Focus Areas</h1>
      <h6>Lets work together</h6>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-11 col-sm-11 mt-0 mt-md-4 px-0">
    <ul
      role="tablist"
      class="py-3 py-md-0 px-4 nav nav-tabs nav-pills with-arrow lined flex-row flex-nowrap scrolling-wrapper justify-content-between"
    ></ul>
    <li class="nav-item flex-sm-fill"></li>
    
  </div>
</div>
<!-- <router-outlet></router-outlet> -->