<div>
<nav class="navbar bg-body-tertiary">
    <div class="container"> 
       <ul style="display: inline-block;">
        <div id="div_top_hypers">
            <ul id="ul_top_hypers">
               
                <li>
                    <a href="#">
                        <div class="icon">
                            <img src="../../assets/icon/home.png" class="icon" aria-hidden="true" (click)="onClick()">
                            <!-- <img src="../../assets/icon/home.png" class="icon" aria-hidden="true">  -->
                        </div> 
                         <div class="name" data-text="Home" routerLink="/Home">Home</div></a>
                         
                </li>
   
                
                <li>
                    <a href="#">
                        <div class="a_top_hypers">
                            <img src="../../assets/icon/newspaper-folded.png" class="icon"  aria-hidden="true">
                            <!-- <img src="../../assets/icon/newspaper-folded.png" class="icon"  aria-hidden="true"> -->
                            
                        </div> 
                            <div class="name" data-text="news">news</div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="icon">
                            <img src="../../assets/icon/blog.png" class="icon" aria-hidden="true">
                            <!-- <img src="../../assets/icon/blog.png" class="icon" aria-hidden="true"> -->
  
                        </div> 
                            <div class="name" data-text="blog">blog</div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="icon">
                            <img src="../../assets/icon/image-gallery.png" class="icon" aria-hidden="true">
                            <!-- <img src="../../assets/icon/image-gallery.png" class="icon" aria-hidden="true"> -->
 
                        </div> 
                            <div class="name" data-text="focus">Gallery</div>
                    </a>
                </li>

                <li>
                    <a  >
                        <div class="icon" (click)="onClick()">
                            <img src="../../assets/icon/contacts.png" class="icon" aria-hidden="true" > 
                            <!-- <img src="../../assets/icon/contacts.png" class="icon" aria-hidden="true">  -->

                        </div> 
                            <div class="name" data-text="Gallery">focus</div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="icon">
                            <img src="../../assets/icon/clients.png" class="icon" aria-hidden="true"> 
                            <!-- <img src="../../assets/icon/clients.png" class="icon" aria-hidden="true">  -->

                        </div> 
                            <div class="name" data-text="initiative">initiative</div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="icon">
                            <img src="../../assets/icon/sansad-bhavan.png" class="icon" aria-hidden="true"> 
                            <!-- <img src="../../assets/icon/sansad-bhavan.png" class="icon" aria-hidden="true">  -->

                        </div> 
                            <div class="name" data-text="Assembly">Assembly</div>
                    </a>
                </li>
                                
                <li>
                    <a href="#">
                        <div class="icon" >
                            <img src="../../assets/icon/live.png" class="icon" aria-hidden="true"> 
                            <!-- <img src="../../assets/icon/live.png" class="icon" aria-hidden="true">  -->

                        </div> 
                        
                            <div class="name" data-text="live">Live</div>
                    </a>
                </li>
            </ul>
        </div> 
    </ul>
      
</div>
</nav>
</div>

<div class="cantainer2">
    <div class="heading">
        <h2>A YOUNG LEADER IN TO SERVE  PEOPLE  IN MAHARASTRA</h2>
        <p>nilesh khaladkar angular devloper</p>
        <button type="button" class="btn">read more</button>
    </div>   
</div>

