<div class="section">
    <div class="custom padding">
        <div class="row d-flex justify-content-center align-items-center">
         <div class="col-md-6 mt-4 mt-md-0 text-md-left">
            <p>About personality</p>
<h1 class="heading-title mb-0">Sanjay Jagtap</h1>
<h6>MLA (Member of Legislative Assembly, Purandar – Haveli)</h6>
<p class="content">
  Sanjay Chandrakant Jagtap is hailed as the young face of Maharashtra Politics.
  He envisions building a better Maharashtra where everyone has a fair chance to
  succeed. As the CEO of shri chatrapti Shivaji Maharajah Shikshan Prasarak
  Mandal ,Saswad.<br> he has made a remarkable contribution to the Education in Rural
  place in Maharashtra He started his political career as the Pune district Bank
  Member from saswad in Purandar Taluka in 2001. He is carrying forward his
  family legacy set by his father-Chandrakant Jagtap , ensuring enhanced growth
  and sustainable development in the socio-political & Education spectrum.
</p>
<br>
<button type="button" class="btn">read more</button>
</div>
<div class="col-md-6 mt-5 mt-md-0">
    <a href="javascript:void(0);" class="d-block" data-toggle="modal" data-target="#aboutVideo">
        <img class="w-100" id="playAboutVideo" src="https://rohitpawar.org/assets/img/about-video.png">
    </a>
    <!-- <img class="w-100" id="playAboutVideo" src="https://rohitpawar.org/assets/img/about-video.png"> -->  
</div>
</div>
</div>